@model Genre
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <form>
                
            </form>
        </div>
    </div>
</div>

